---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Samples from '../components/Samples.astro';

export async function getStaticPaths() {
  const posts = await Astro.glob('../blogs/*.md');
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
  <section class="page-content">
    <div class="container full-blog">
      <Card>
        <a
          href="/blog"
          class="btn"
          >Go Back</a
        >
        <h1>{frontmatter.title}</h1>
        <Content />
        <section class="blog-details">
          <div>Authors: {frontmatter.author}</div>
          <div>Date: {frontmatter.date}</div>
        </section>
      </Card>
    </div>
  </section>
  <Samples title={frontmatter.title} />
</Layout>

<style>
  .blog-details {
    margin-top: 2rem;
  }
</style>
