---
import site1 from '../images/site1.png';
import site2 from '../images/site2.png';
import site3 from '../images/site3.png';
import site4 from '../images/site4.png';
import site5 from '../images/site5.png';
import site6 from '../images/site6.png';
---

<section>
  <h2>Projects Showcase</h2>
  <div class="project__wrapper">
    <a
      class="project"
      href="https://prodigy-path.netlify.app/"
      ><img
        src={site2}
        alt="screenshot of prodigy path"
      /></a
    >

    <a
      class="project"
      href="https://hexo-lbenson-blog.netlify.app"
      ><img
        src={site1}
        alt="screenshot of blog"
      /></a
    >

    <a
      class="project"
      href="https://yelp-camp-lewis.cyclic.app/"
      ><img
        src={site3}
        alt="screenshot of yelp camp"
      /></a
    >

    <a
      class="project"
      href="https://tune-port.netlify.app/"
      ><img
        src={site4}
        alt="screenshot of tune port"
      /></a
    >

    <a
      class="project"
      href="https://tm-lbenson.github.io/guessAnumber/"
      ><img
        src={site5}
        alt="screenshot of guess a number"
      /></a
    >
    <a
      class="project"
      href="https://react-simple-project.github.io/react-expense-app/"
      ><img
        src={site6}
        alt="screenshot of an expense app"
      /></a
    >
  </div>
</section>

<style>
  .project {
    transition: all 0.2s ease;
  }
  .project:hover {
    scale: 1.11;
  }

  .project__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
  }
  .project__wrapper a,
  img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
</style>
